
.tc-nfl_arizona-cardinals-xl {
	width: 256px;
	height: 256px;
	background-position: -0px 0;
}

.tc-nfl_atlanta-falcons-xl {
	width: 256px;
	height: 256px;
	background-position: -264px 0;
}

.tc-nfl_baltimore-ravens-xl {
	width: 256px;
	height: 256px;
	background-position: -528px 0;
}

.tc-nfl_buffalo-bills-xl {
	width: 256px;
	height: 256px;
	background-position: -792px 0;
}

.tc-nfl_chicago-bears-xl {
	width: 256px;
	height: 256px;
	background-position: -1056px 0;
}

.tc-nfl_cincinati-bengals-xl {
	width: 256px;
	height: 256px;
	background-position: -1320px 0;
}

.tc-nfl_cincinnati-bengals-xl {
	width: 256px;
	height: 256px;
	background-position: -1584px 0;
}

.tc-nfl_cleveland-browns-xl {
	width: 256px;
	height: 256px;
	background-position: -1848px 0;
}

.tc-nfl_dallas-cowboys-xl {
	width: 256px;
	height: 256px;
	background-position: -2112px 0;
}

.tc-nfl_denver-broncos-xl {
	width: 256px;
	height: 256px;
	background-position: -2376px 0;
}

.tc-nfl_detroit-lions-xl {
	width: 256px;
	height: 256px;
	background-position: -2640px 0;
}

.tc-nfl_greenbay-packers-xl {
	width: 256px;
	height: 256px;
	background-position: -2904px 0;
}

.tc-nfl_houston-texans-xl {
	width: 256px;
	height: 256px;
	background-position: -3168px 0;
}

.tc-nfl_indianapolis-colts-xl {
	width: 256px;
	height: 256px;
	background-position: -3432px 0;
}

.tc-nfl_kansascity-chiefs-xl {
	width: 256px;
	height: 256px;
	background-position: -3696px 0;
}

.tc-nfl_miami-dolphins-xl {
	width: 256px;
	height: 256px;
	background-position: -3960px 0;
}

.tc-nfl_minnesota-vikings-xl {
	width: 256px;
	height: 256px;
	background-position: -4224px 0;
}

.tc-nfl_newengland-patriots-xl {
	width: 256px;
	height: 256px;
	background-position: -4488px 0;
}

.tc-nfl_neworleans-saints-xl {
	width: 256px;
	height: 256px;
	background-position: -4752px 0;
}

.tc-nfl_newyork-giants-xl {
	width: 256px;
	height: 256px;
	background-position: -5016px 0;
}

.tc-nfl_newyork-jets-xl {
	width: 256px;
	height: 256px;
	background-position: -5280px 0;
}

.tc-nfl_oakland-raiders-xl {
	width: 256px;
	height: 256px;
	background-position: -5544px 0;
}

.tc-nfl_philadelphia-eagles-xl {
	width: 256px;
	height: 256px;
	background-position: -5808px 0;
}

.tc-nfl_pittsburg-steelers-xl {
	width: 256px;
	height: 256px;
	background-position: -6072px 0;
}

.tc-nfl_sandiego-chargers-xl {
	width: 256px;
	height: 256px;
	background-position: -6336px 0;
}

.tc-nfl_sanfrancisco-49ers-xl {
	width: 256px;
	height: 256px;
	background-position: -6600px 0;
}

.tc-nfl_seattle-seahawks-xl {
	width: 256px;
	height: 256px;
	background-position: -6864px 0;
}

.tc-nfl_stlouis-rams-xl {
	width: 256px;
	height: 256px;
	background-position: -7128px 0;
}

.tc-nfl_tampabay-buccaneers-xl {
	width: 256px;
	height: 256px;
	background-position: -7392px 0;
}

.tc-nfl_tennessee-titans-xl {
	width: 256px;
	height: 256px;
	background-position: -7656px 0;
}

.tc-nfl_washington-redskins-xl {
	width: 256px;
	height: 256px;
	background-position: -7920px 0;
}

.tc-nfl_arizona-cardinals-xl,
.tc-nfl_atlanta-falcons-xl,
.tc-nfl_baltimore-ravens-xl,
.tc-nfl_buffalo-bills-xl,
.tc-nfl_chicago-bears-xl,
.tc-nfl_cincinati-bengals-xl,
.tc-nfl_cincinnati-bengals-xl,
.tc-nfl_cleveland-browns-xl,
.tc-nfl_dallas-cowboys-xl,
.tc-nfl_denver-broncos-xl,
.tc-nfl_detroit-lions-xl,
.tc-nfl_greenbay-packers-xl,
.tc-nfl_houston-texans-xl,
.tc-nfl_indianapolis-colts-xl,
.tc-nfl_kansascity-chiefs-xl,
.tc-nfl_miami-dolphins-xl,
.tc-nfl_minnesota-vikings-xl,
.tc-nfl_newengland-patriots-xl,
.tc-nfl_neworleans-saints-xl,
.tc-nfl_newyork-giants-xl,
.tc-nfl_newyork-jets-xl,
.tc-nfl_oakland-raiders-xl,
.tc-nfl_philadelphia-eagles-xl,
.tc-nfl_pittsburg-steelers-xl,
.tc-nfl_sandiego-chargers-xl,
.tc-nfl_sanfrancisco-49ers-xl,
.tc-nfl_seattle-seahawks-xl,
.tc-nfl_stlouis-rams-xl,
.tc-nfl_tampabay-buccaneers-xl,
.tc-nfl_tennessee-titans-xl,
.tc-nfl_washington-redskins-xl {
	background-image: url(sprites/tc-nfl-xl-sprite.png);
	background-size: 8184px 256px;
}

.tc-nfl_arizona-cardinals-large {
	width: 128px;
	height: 128px;
	background-position: -0px 0;
}

.tc-nfl_atlanta-falcons-large {
	width: 128px;
	height: 128px;
	background-position: -132px 0;
}

.tc-nfl_baltimore-ravens-large {
	width: 128px;
	height: 128px;
	background-position: -264px 0;
}

.tc-nfl_buffalo-bills-large {
	width: 128px;
	height: 128px;
	background-position: -396px 0;
}

.tc-nfl_chicago-bears-large {
	width: 128px;
	height: 128px;
	background-position: -528px 0;
}

.tc-nfl_cincinati-bengals-large {
	width: 128px;
	height: 128px;
	background-position: -660px 0;
}

.tc-nfl_cincinnati-bengals-large {
	width: 128px;
	height: 128px;
	background-position: -792px 0;
}

.tc-nfl_cleveland-browns-large {
	width: 128px;
	height: 128px;
	background-position: -924px 0;
}

.tc-nfl_dallas-cowboys-large {
	width: 128px;
	height: 128px;
	background-position: -1056px 0;
}

.tc-nfl_denver-broncos-large {
	width: 128px;
	height: 128px;
	background-position: -1188px 0;
}

.tc-nfl_detroit-lions-large {
	width: 128px;
	height: 128px;
	background-position: -1320px 0;
}

.tc-nfl_greenbay-packers-large {
	width: 128px;
	height: 128px;
	background-position: -1452px 0;
}

.tc-nfl_houston-texans-large {
	width: 128px;
	height: 128px;
	background-position: -1584px 0;
}

.tc-nfl_indianapolis-colts-large {
	width: 128px;
	height: 128px;
	background-position: -1716px 0;
}

.tc-nfl_kansascity-chiefs-large {
	width: 128px;
	height: 128px;
	background-position: -1848px 0;
}

.tc-nfl_miami-dolphins-large {
	width: 128px;
	height: 128px;
	background-position: -1980px 0;
}

.tc-nfl_minnesota-vikings-large {
	width: 128px;
	height: 128px;
	background-position: -2112px 0;
}

.tc-nfl_newengland-patriots-large {
	width: 128px;
	height: 128px;
	background-position: -2244px 0;
}

.tc-nfl_neworleans-saints-large {
	width: 128px;
	height: 128px;
	background-position: -2376px 0;
}

.tc-nfl_newyork-giants-large {
	width: 128px;
	height: 128px;
	background-position: -2508px 0;
}

.tc-nfl_newyork-jets-large {
	width: 128px;
	height: 128px;
	background-position: -2640px 0;
}

.tc-nfl_oakland-raiders-large {
	width: 128px;
	height: 128px;
	background-position: -2772px 0;
}

.tc-nfl_philadelphia-eagles-large {
	width: 128px;
	height: 128px;
	background-position: -2904px 0;
}

.tc-nfl_pittsburg-steelers-large {
	width: 128px;
	height: 128px;
	background-position: -3036px 0;
}

.tc-nfl_sandiego-chargers-large {
	width: 128px;
	height: 128px;
	background-position: -3168px 0;
}

.tc-nfl_sanfrancisco-49ers-large {
	width: 128px;
	height: 128px;
	background-position: -3300px 0;
}

.tc-nfl_seattle-seahawks-large {
	width: 128px;
	height: 128px;
	background-position: -3432px 0;
}

.tc-nfl_stlouis-rams-large {
	width: 128px;
	height: 128px;
	background-position: -3564px 0;
}

.tc-nfl_tampabay-buccaneers-large {
	width: 128px;
	height: 128px;
	background-position: -3696px 0;
}

.tc-nfl_tennessee-titans-large {
	width: 128px;
	height: 128px;
	background-position: -3828px 0;
}

.tc-nfl_washington-redskins-large {
	width: 128px;
	height: 128px;
	background-position: -3960px 0;
}

.tc-nfl_arizona-cardinals-large,
.tc-nfl_atlanta-falcons-large,
.tc-nfl_baltimore-ravens-large,
.tc-nfl_buffalo-bills-large,
.tc-nfl_chicago-bears-large,
.tc-nfl_cincinati-bengals-large,
.tc-nfl_cincinnati-bengals-large,
.tc-nfl_cleveland-browns-large,
.tc-nfl_dallas-cowboys-large,
.tc-nfl_denver-broncos-large,
.tc-nfl_detroit-lions-large,
.tc-nfl_greenbay-packers-large,
.tc-nfl_houston-texans-large,
.tc-nfl_indianapolis-colts-large,
.tc-nfl_kansascity-chiefs-large,
.tc-nfl_miami-dolphins-large,
.tc-nfl_minnesota-vikings-large,
.tc-nfl_newengland-patriots-large,
.tc-nfl_neworleans-saints-large,
.tc-nfl_newyork-giants-large,
.tc-nfl_newyork-jets-large,
.tc-nfl_oakland-raiders-large,
.tc-nfl_philadelphia-eagles-large,
.tc-nfl_pittsburg-steelers-large,
.tc-nfl_sandiego-chargers-large,
.tc-nfl_sanfrancisco-49ers-large,
.tc-nfl_seattle-seahawks-large,
.tc-nfl_stlouis-rams-large,
.tc-nfl_tampabay-buccaneers-large,
.tc-nfl_tennessee-titans-large,
.tc-nfl_washington-redskins-large {
	background-image: url(sprites/tc-nfl-large-sprite.png);
	background-size: 4092px 128px;
}

.tc-nfl_arizona-cardinals-med {
	width: 64px;
	height: 64px;
	background-position: -0px 0;
}

.tc-nfl_atlanta-falcons-med {
	width: 64px;
	height: 64px;
	background-position: -66px 0;
}

.tc-nfl_baltimore-ravens-med {
	width: 64px;
	height: 64px;
	background-position: -132px 0;
}

.tc-nfl_buffalo-bills-med {
	width: 64px;
	height: 64px;
	background-position: -198px 0;
}

.tc-nfl_chicago-bears-med {
	width: 64px;
	height: 64px;
	background-position: -264px 0;
}

.tc-nfl_cincinati-bengals-med {
	width: 64px;
	height: 64px;
	background-position: -330px 0;
}

.tc-nfl_cincinnati-bengals-med {
	width: 64px;
	height: 64px;
	background-position: -396px 0;
}

.tc-nfl_cleveland-browns-med {
	width: 64px;
	height: 64px;
	background-position: -462px 0;
}

.tc-nfl_dallas-cowboys-med {
	width: 64px;
	height: 64px;
	background-position: -528px 0;
}

.tc-nfl_denver-broncos-med {
	width: 64px;
	height: 64px;
	background-position: -594px 0;
}

.tc-nfl_detroit-lions-med {
	width: 64px;
	height: 64px;
	background-position: -660px 0;
}

.tc-nfl_greenbay-packers-med {
	width: 64px;
	height: 64px;
	background-position: -726px 0;
}

.tc-nfl_houston-texans-med {
	width: 64px;
	height: 64px;
	background-position: -792px 0;
}

.tc-nfl_indianapolis-colts-med {
	width: 64px;
	height: 64px;
	background-position: -858px 0;
}

.tc-nfl_kansascity-chiefs-med {
	width: 64px;
	height: 64px;
	background-position: -924px 0;
}

.tc-nfl_miami-dolphins-med {
	width: 64px;
	height: 64px;
	background-position: -990px 0;
}

.tc-nfl_minnesota-vikings-med {
	width: 64px;
	height: 64px;
	background-position: -1056px 0;
}

.tc-nfl_newengland-patriots-med {
	width: 64px;
	height: 64px;
	background-position: -1122px 0;
}

.tc-nfl_neworleans-saints-med {
	width: 64px;
	height: 64px;
	background-position: -1188px 0;
}

.tc-nfl_newyork-giants-med {
	width: 64px;
	height: 64px;
	background-position: -1254px 0;
}

.tc-nfl_newyork-jets-med {
	width: 64px;
	height: 64px;
	background-position: -1320px 0;
}

.tc-nfl_oakland-raiders-med {
	width: 64px;
	height: 64px;
	background-position: -1386px 0;
}

.tc-nfl_philadelphia-eagles-med {
	width: 64px;
	height: 64px;
	background-position: -1452px 0;
}

.tc-nfl_pittsburg-steelers-med {
	width: 64px;
	height: 64px;
	background-position: -1518px 0;
}

.tc-nfl_sandiego-chargers-med {
	width: 64px;
	height: 64px;
	background-position: -1584px 0;
}

.tc-nfl_sanfrancisco-49ers-med {
	width: 64px;
	height: 64px;
	background-position: -1650px 0;
}

.tc-nfl_seattle-seahawks-med {
	width: 64px;
	height: 64px;
	background-position: -1716px 0;
}

.tc-nfl_stlouis-rams-med {
	width: 64px;
	height: 64px;
	background-position: -1782px 0;
}

.tc-nfl_tampabay-buccaneers-med {
	width: 64px;
	height: 64px;
	background-position: -1848px 0;
}

.tc-nfl_tennessee-titans-med {
	width: 64px;
	height: 64px;
	background-position: -1914px 0;
}

.tc-nfl_washington-redskins-med {
	width: 64px;
	height: 64px;
	background-position: -1980px 0;
}

.tc-nfl_arizona-cardinals-med,
.tc-nfl_atlanta-falcons-med,
.tc-nfl_baltimore-ravens-med,
.tc-nfl_buffalo-bills-med,
.tc-nfl_chicago-bears-med,
.tc-nfl_cincinati-bengals-med,
.tc-nfl_cincinnati-bengals-med,
.tc-nfl_cleveland-browns-med,
.tc-nfl_dallas-cowboys-med,
.tc-nfl_denver-broncos-med,
.tc-nfl_detroit-lions-med,
.tc-nfl_greenbay-packers-med,
.tc-nfl_houston-texans-med,
.tc-nfl_indianapolis-colts-med,
.tc-nfl_kansascity-chiefs-med,
.tc-nfl_miami-dolphins-med,
.tc-nfl_minnesota-vikings-med,
.tc-nfl_newengland-patriots-med,
.tc-nfl_neworleans-saints-med,
.tc-nfl_newyork-giants-med,
.tc-nfl_newyork-jets-med,
.tc-nfl_oakland-raiders-med,
.tc-nfl_philadelphia-eagles-med,
.tc-nfl_pittsburg-steelers-med,
.tc-nfl_sandiego-chargers-med,
.tc-nfl_sanfrancisco-49ers-med,
.tc-nfl_seattle-seahawks-med,
.tc-nfl_stlouis-rams-med,
.tc-nfl_tampabay-buccaneers-med,
.tc-nfl_tennessee-titans-med,
.tc-nfl_washington-redskins-med {
	background-image: url(sprites/tc-nfl-med-sprite.png);
	background-size: 2046px 64px;
}

.tc-nfl_arizona-cardinals-small {
	width: 16px;
	height: 16px;
	background-position: -0px 0;
}

.tc-nfl_atlanta-falcons-small {
	width: 16px;
	height: 16px;
	background-position: -17px 0;
}

.tc-nfl_baltimore-ravens-small {
	width: 16px;
	height: 16px;
	background-position: -33px 0;
}

.tc-nfl_buffalo-bills-small {
	width: 16px;
	height: 16px;
	background-position: -50px 0;
}

.tc-nfl_chicago-bears-small {
	width: 16px;
	height: 16px;
	background-position: -66px 0;
}

.tc-nfl_cincinati-bengals-small {
	width: 16px;
	height: 16px;
	background-position: -83px 0;
}

.tc-nfl_cincinnati-bengals-small {
	width: 16px;
	height: 16px;
	background-position: -99px 0;
}

.tc-nfl_cleveland-browns-small {
	width: 16px;
	height: 16px;
	background-position: -116px 0;
}

.tc-nfl_dallas-cowboys-small {
	width: 16px;
	height: 16px;
	background-position: -132px 0;
}

.tc-nfl_denver-broncos-small {
	width: 16px;
	height: 16px;
	background-position: -149px 0;
}

.tc-nfl_detroit-lions-small {
	width: 16px;
	height: 16px;
	background-position: -165px 0;
}

.tc-nfl_greenbay-packers-small {
	width: 16px;
	height: 16px;
	background-position: -182px 0;
}

.tc-nfl_houston-texans-small {
	width: 16px;
	height: 16px;
	background-position: -198px 0;
}

.tc-nfl_indianapolis-colts-small {
	width: 16px;
	height: 16px;
	background-position: -215px 0;
}

.tc-nfl_kansascity-chiefs-small {
	width: 16px;
	height: 16px;
	background-position: -231px 0;
}

.tc-nfl_miami-dolphins-small {
	width: 16px;
	height: 16px;
	background-position: -248px 0;
}

.tc-nfl_minnesota-vikings-small {
	width: 16px;
	height: 16px;
	background-position: -264px 0;
}

.tc-nfl_newengland-patriots-small {
	width: 16px;
	height: 16px;
	background-position: -281px 0;
}

.tc-nfl_neworleans-saints-small {
	width: 16px;
	height: 16px;
	background-position: -297px 0;
}

.tc-nfl_newyork-giants-small {
	width: 16px;
	height: 16px;
	background-position: -314px 0;
}

.tc-nfl_newyork-jets-small {
	width: 16px;
	height: 16px;
	background-position: -330px 0;
}

.tc-nfl_oakland-raiders-small {
	width: 16px;
	height: 16px;
	background-position: -347px 0;
}

.tc-nfl_philadelphia-eagles-small {
	width: 16px;
	height: 16px;
	background-position: -363px 0;
}

.tc-nfl_pittsburg-steelers-small {
	width: 16px;
	height: 16px;
	background-position: -380px 0;
}

.tc-nfl_sandiego-chargers-small {
	width: 16px;
	height: 16px;
	background-position: -396px 0;
}

.tc-nfl_sanfrancisco-49ers-small {
	width: 16px;
	height: 16px;
	background-position: -413px 0;
}

.tc-nfl_seattle-seahawks-small {
	width: 16px;
	height: 16px;
	background-position: -429px 0;
}

.tc-nfl_stlouis-rams-small {
	width: 16px;
	height: 16px;
	background-position: -446px 0;
}

.tc-nfl_tampabay-buccaneers-small {
	width: 16px;
	height: 16px;
	background-position: -462px 0;
}

.tc-nfl_tennessee-titans-small {
	width: 16px;
	height: 16px;
	background-position: -479px 0;
}

.tc-nfl_washington-redskins-small {
	width: 16px;
	height: 16px;
	background-position: -495px 0;
}

.tc-nfl_arizona-cardinals-small,
.tc-nfl_atlanta-falcons-small,
.tc-nfl_baltimore-ravens-small,
.tc-nfl_buffalo-bills-small,
.tc-nfl_chicago-bears-small,
.tc-nfl_cincinati-bengals-small,
.tc-nfl_cincinnati-bengals-small,
.tc-nfl_cleveland-browns-small,
.tc-nfl_dallas-cowboys-small,
.tc-nfl_denver-broncos-small,
.tc-nfl_detroit-lions-small,
.tc-nfl_greenbay-packers-small,
.tc-nfl_houston-texans-small,
.tc-nfl_indianapolis-colts-small,
.tc-nfl_kansascity-chiefs-small,
.tc-nfl_miami-dolphins-small,
.tc-nfl_minnesota-vikings-small,
.tc-nfl_newengland-patriots-small,
.tc-nfl_neworleans-saints-small,
.tc-nfl_newyork-giants-small,
.tc-nfl_newyork-jets-small,
.tc-nfl_oakland-raiders-small,
.tc-nfl_philadelphia-eagles-small,
.tc-nfl_pittsburg-steelers-small,
.tc-nfl_sandiego-chargers-small,
.tc-nfl_sanfrancisco-49ers-small,
.tc-nfl_seattle-seahawks-small,
.tc-nfl_stlouis-rams-small,
.tc-nfl_tampabay-buccaneers-small,
.tc-nfl_tennessee-titans-small,
.tc-nfl_washington-redskins-small {
	background-image: url(sprites/tc-nfl-small-sprite.png);
	background-size: 512px 16px;
}

.svg .tc-nfl_arizona-cardinals-xl,
.svg .tc-nfl_atlanta-falcons-xl,
.svg .tc-nfl_baltimore-ravens-xl,
.svg .tc-nfl_buffalo-bills-xl,
.svg .tc-nfl_chicago-bears-xl,
.svg .tc-nfl_cincinati-bengals-xl,
.svg .tc-nfl_cincinnati-bengals-xl,
.svg .tc-nfl_cleveland-browns-xl,
.svg .tc-nfl_dallas-cowboys-xl,
.svg .tc-nfl_denver-broncos-xl,
.svg .tc-nfl_detroit-lions-xl,
.svg .tc-nfl_greenbay-packers-xl,
.svg .tc-nfl_houston-texans-xl,
.svg .tc-nfl_indianapolis-colts-xl,
.svg .tc-nfl_kansascity-chiefs-xl,
.svg .tc-nfl_miami-dolphins-xl,
.svg .tc-nfl_minnesota-vikings-xl,
.svg .tc-nfl_newengland-patriots-xl,
.svg .tc-nfl_neworleans-saints-xl,
.svg .tc-nfl_newyork-giants-xl,
.svg .tc-nfl_newyork-jets-xl,
.svg .tc-nfl_oakland-raiders-xl,
.svg .tc-nfl_philadelphia-eagles-xl,
.svg .tc-nfl_pittsburg-steelers-xl,
.svg .tc-nfl_sandiego-chargers-xl,
.svg .tc-nfl_sanfrancisco-49ers-xl,
.svg .tc-nfl_seattle-seahawks-xl,
.svg .tc-nfl_stlouis-rams-xl,
.svg .tc-nfl_tampabay-buccaneers-xl,
.svg .tc-nfl_tennessee-titans-xl,
.svg .tc-nfl_washington-redskins-xl,
.svg .tc-nfl_arizona-cardinals-large,
.svg .tc-nfl_atlanta-falcons-large,
.svg .tc-nfl_baltimore-ravens-large,
.svg .tc-nfl_buffalo-bills-large,
.svg .tc-nfl_chicago-bears-large,
.svg .tc-nfl_cincinati-bengals-large,
.svg .tc-nfl_cincinnati-bengals-large,
.svg .tc-nfl_cleveland-browns-large,
.svg .tc-nfl_dallas-cowboys-large,
.svg .tc-nfl_denver-broncos-large,
.svg .tc-nfl_detroit-lions-large,
.svg .tc-nfl_greenbay-packers-large,
.svg .tc-nfl_houston-texans-large,
.svg .tc-nfl_indianapolis-colts-large,
.svg .tc-nfl_kansascity-chiefs-large,
.svg .tc-nfl_miami-dolphins-large,
.svg .tc-nfl_minnesota-vikings-large,
.svg .tc-nfl_newengland-patriots-large,
.svg .tc-nfl_neworleans-saints-large,
.svg .tc-nfl_newyork-giants-large,
.svg .tc-nfl_newyork-jets-large,
.svg .tc-nfl_oakland-raiders-large,
.svg .tc-nfl_philadelphia-eagles-large,
.svg .tc-nfl_pittsburg-steelers-large,
.svg .tc-nfl_sandiego-chargers-large,
.svg .tc-nfl_sanfrancisco-49ers-large,
.svg .tc-nfl_seattle-seahawks-large,
.svg .tc-nfl_stlouis-rams-large,
.svg .tc-nfl_tampabay-buccaneers-large,
.svg .tc-nfl_tennessee-titans-large,
.svg .tc-nfl_washington-redskins-large,
.svg .tc-nfl_arizona-cardinals-med,
.svg .tc-nfl_atlanta-falcons-med,
.svg .tc-nfl_baltimore-ravens-med,
.svg .tc-nfl_buffalo-bills-med,
.svg .tc-nfl_chicago-bears-med,
.svg .tc-nfl_cincinati-bengals-med,
.svg .tc-nfl_cincinnati-bengals-med,
.svg .tc-nfl_cleveland-browns-med,
.svg .tc-nfl_dallas-cowboys-med,
.svg .tc-nfl_denver-broncos-med,
.svg .tc-nfl_detroit-lions-med,
.svg .tc-nfl_greenbay-packers-med,
.svg .tc-nfl_houston-texans-med,
.svg .tc-nfl_indianapolis-colts-med,
.svg .tc-nfl_kansascity-chiefs-med,
.svg .tc-nfl_miami-dolphins-med,
.svg .tc-nfl_minnesota-vikings-med,
.svg .tc-nfl_newengland-patriots-med,
.svg .tc-nfl_neworleans-saints-med,
.svg .tc-nfl_newyork-giants-med,
.svg .tc-nfl_newyork-jets-med,
.svg .tc-nfl_oakland-raiders-med,
.svg .tc-nfl_philadelphia-eagles-med,
.svg .tc-nfl_pittsburg-steelers-med,
.svg .tc-nfl_sandiego-chargers-med,
.svg .tc-nfl_sanfrancisco-49ers-med,
.svg .tc-nfl_seattle-seahawks-med,
.svg .tc-nfl_stlouis-rams-med,
.svg .tc-nfl_tampabay-buccaneers-med,
.svg .tc-nfl_tennessee-titans-med,
.svg .tc-nfl_washington-redskins-med,
.svg .tc-nfl_arizona-cardinals-small,
.svg .tc-nfl_atlanta-falcons-small,
.svg .tc-nfl_baltimore-ravens-small,
.svg .tc-nfl_buffalo-bills-small,
.svg .tc-nfl_chicago-bears-small,
.svg .tc-nfl_cincinati-bengals-small,
.svg .tc-nfl_cincinnati-bengals-small,
.svg .tc-nfl_cleveland-browns-small,
.svg .tc-nfl_dallas-cowboys-small,
.svg .tc-nfl_denver-broncos-small,
.svg .tc-nfl_detroit-lions-small,
.svg .tc-nfl_greenbay-packers-small,
.svg .tc-nfl_houston-texans-small,
.svg .tc-nfl_indianapolis-colts-small,
.svg .tc-nfl_kansascity-chiefs-small,
.svg .tc-nfl_miami-dolphins-small,
.svg .tc-nfl_minnesota-vikings-small,
.svg .tc-nfl_newengland-patriots-small,
.svg .tc-nfl_neworleans-saints-small,
.svg .tc-nfl_newyork-giants-small,
.svg .tc-nfl_newyork-jets-small,
.svg .tc-nfl_oakland-raiders-small,
.svg .tc-nfl_philadelphia-eagles-small,
.svg .tc-nfl_pittsburg-steelers-small,
.svg .tc-nfl_sandiego-chargers-small,
.svg .tc-nfl_sanfrancisco-49ers-small,
.svg .tc-nfl_seattle-seahawks-small,
.svg .tc-nfl_stlouis-rams-small,
.svg .tc-nfl_tampabay-buccaneers-small,
.svg .tc-nfl_tennessee-titans-small,
.svg .tc-nfl_washington-redskins-small {
	background-image: url(sprites/tc-nfl-sprite.svg);
}
