
.testsizes-arizona-cardinals-large {
	width: 43px;
	height: 25px;
	background-position: -0px 0;
}

.testsizes-atlanta-falcons-large {
	width: 28px;
	height: 26px;
	background-position: -46px 0;
}

.testsizes-baltimore-ravens-large {
	width: 51px;
	height: 25px;
	background-position: -76px 0;
}

.testsizes-buffalo-bills-large {
	width: 35px;
	height: 25px;
	background-position: -130px 0;
}

.testsizes-carolina-panthers-large {
	width: 47px;
	height: 25px;
	background-position: -168px 0;
}

.testsizes-chicago-bears-large {
	width: 100px;
	height: 75px;
	background-position: -218px 0;
}

.testsizes-cincinnati-bengals-large {
	width: 32px;
	height: 23px;
	background-position: -320px 0;
}

.testsizes-cleveland-browns-large {
	width: 100px;
	height: 78px;
	background-position: -354px 0;
}

.testsizes-dallas-cowboys-large {
	width: 54px;
	height: 52px;
	background-position: -456px 0;
}

.testsizes-denver-broncos-large {
	width: 43px;
	height: 25px;
	background-position: -512px 0;
}

.testsizes-detroit-lions-large {
	width: 62px;
	height: 47px;
	background-position: -558px 0;
}

.testsizes-green-bay-packers-large {
	width: 38px;
	height: 25px;
	background-position: -622px 0;
}

.testsizes-houston-texans-large {
	width: 28px;
	height: 25px;
	background-position: -662px 0;
}

.testsizes-indianapolis-colts-large {
	width: 24px;
	height: 25px;
	background-position: -692px 0;
}

.testsizes-kansas-city-chiefs-large {
	width: 40px;
	height: 25px;
	background-position: -718px 0;
}

.testsizes-miami-dolphins-large {
	width: 22px;
	height: 25px;
	background-position: -760px 0;
}

.testsizes-minnesota-vikings-large {
	width: 19px;
	height: 25px;
	background-position: -784px 0;
}

.testsizes-new-england-patriots-large {
	width: 32px;
	height: 15px;
	background-position: -806px 0;
}

.testsizes-new-orleans-saints-large {
	width: 26px;
	height: 32px;
	background-position: -840px 0;
}

.testsizes-new-york-giants-large {
	width: 32px;
	height: 25px;
	background-position: -868px 0;
}

.testsizes-new-york-jets-large {
	width: 32px;
	height: 18px;
	background-position: -902px 0;
}

.testsizes-nfl_arizona-cardinals-large {
	width: 64px;
	height: 64px;
	background-position: -936px 0;
}

.testsizes-nfl_atlanta-falcons-large {
	width: 64px;
	height: 64px;
	background-position: -1002px 0;
}

.testsizes-nfl_baltimore-ravens-large {
	width: 64px;
	height: 64px;
	background-position: -1068px 0;
}

.testsizes-nfl_dallas-cowboys-large {
	width: 64px;
	height: 64px;
	background-position: -1134px 0;
}

.testsizes-nfl_dallas-cowboys copy-large {
	width: 64px;
	height: 64px;
	background-position: -1200px 0;
}

.testsizes-oakland-raiders-large {
	width: 32px;
	height: 32px;
	background-position: -1266px 0;
}

.testsizes-philadelphia-eagles-large {
	width: 32px;
	height: 23px;
	background-position: -1300px 0;
}

.testsizes-pittsburgh-steelers-large {
	width: 17px;
	height: 17px;
	background-position: -1334px 0;
}

.testsizes-san-diego-chargers-large {
	width: 47px;
	height: 25px;
	background-position: -1354px 0;
}

.testsizes-san-francisco-49ers-large {
	width: 58px;
	height: 34px;
	background-position: -1404px 0;
}

.testsizes-seattle-seahawks-large {
	width: 41px;
	height: 19px;
	background-position: -1464px 0;
}

.testsizes-st-louis-rams-large {
	width: 36px;
	height: 25px;
	background-position: -1508px 0;
}

.testsizes-tampa-bay-buccaneers-large {
	width: 28px;
	height: 25px;
	background-position: -1546px 0;
}

.testsizes-tennessee-titans-large {
	width: 36px;
	height: 25px;
	background-position: -1576px 0;
}

.testsizes-washington-redskins-large {
	width: 31px;
	height: 31px;
	background-position: -1614px 0;
}

.testsizes-arizona-cardinals-large,
.testsizes-atlanta-falcons-large,
.testsizes-baltimore-ravens-large,
.testsizes-buffalo-bills-large,
.testsizes-carolina-panthers-large,
.testsizes-chicago-bears-large,
.testsizes-cincinnati-bengals-large,
.testsizes-cleveland-browns-large,
.testsizes-dallas-cowboys-large,
.testsizes-denver-broncos-large,
.testsizes-detroit-lions-large,
.testsizes-green-bay-packers-large,
.testsizes-houston-texans-large,
.testsizes-indianapolis-colts-large,
.testsizes-kansas-city-chiefs-large,
.testsizes-miami-dolphins-large,
.testsizes-minnesota-vikings-large,
.testsizes-new-england-patriots-large,
.testsizes-new-orleans-saints-large,
.testsizes-new-york-giants-large,
.testsizes-new-york-jets-large,
.testsizes-nfl_arizona-cardinals-large,
.testsizes-nfl_atlanta-falcons-large,
.testsizes-nfl_baltimore-ravens-large,
.testsizes-nfl_dallas-cowboys-large,
.testsizes-nfl_dallas-cowboys copy-large,
.testsizes-oakland-raiders-large,
.testsizes-philadelphia-eagles-large,
.testsizes-pittsburgh-steelers-large,
.testsizes-san-diego-chargers-large,
.testsizes-san-francisco-49ers-large,
.testsizes-seattle-seahawks-large,
.testsizes-st-louis-rams-large,
.testsizes-tampa-bay-buccaneers-large,
.testsizes-tennessee-titans-large,
.testsizes-washington-redskins-large {
	background-image: url(sprites/testsizes-nfl-large-sprite.png);
	background-size: 1648px 78px;
}

.testsizes-arizona-cardinals-med {
	width: 22px;
	height: 13px;
	background-position: -0px 0;
}

.testsizes-atlanta-falcons-med {
	width: 14px;
	height: 13px;
	background-position: -23px 0;
}

.testsizes-baltimore-ravens-med {
	width: 26px;
	height: 13px;
	background-position: -38px 0;
}

.testsizes-buffalo-bills-med {
	width: 18px;
	height: 13px;
	background-position: -65px 0;
}

.testsizes-carolina-panthers-med {
	width: 24px;
	height: 13px;
	background-position: -84px 0;
}

.testsizes-chicago-bears-med {
	width: 50px;
	height: 38px;
	background-position: -109px 0;
}

.testsizes-cincinnati-bengals-med {
	width: 16px;
	height: 12px;
	background-position: -160px 0;
}

.testsizes-cleveland-browns-med {
	width: 50px;
	height: 39px;
	background-position: -177px 0;
}

.testsizes-dallas-cowboys-med {
	width: 27px;
	height: 26px;
	background-position: -228px 0;
}

.testsizes-denver-broncos-med {
	width: 22px;
	height: 13px;
	background-position: -256px 0;
}

.testsizes-detroit-lions-med {
	width: 31px;
	height: 24px;
	background-position: -279px 0;
}

.testsizes-green-bay-packers-med {
	width: 19px;
	height: 13px;
	background-position: -311px 0;
}

.testsizes-houston-texans-med {
	width: 14px;
	height: 13px;
	background-position: -331px 0;
}

.testsizes-indianapolis-colts-med {
	width: 12px;
	height: 13px;
	background-position: -346px 0;
}

.testsizes-kansas-city-chiefs-med {
	width: 20px;
	height: 13px;
	background-position: -359px 0;
}

.testsizes-miami-dolphins-med {
	width: 11px;
	height: 13px;
	background-position: -380px 0;
}

.testsizes-minnesota-vikings-med {
	width: 10px;
	height: 13px;
	background-position: -392px 0;
}

.testsizes-new-england-patriots-med {
	width: 16px;
	height: 8px;
	background-position: -403px 0;
}

.testsizes-new-orleans-saints-med {
	width: 13px;
	height: 16px;
	background-position: -420px 0;
}

.testsizes-new-york-giants-med {
	width: 16px;
	height: 13px;
	background-position: -434px 0;
}

.testsizes-new-york-jets-med {
	width: 16px;
	height: 9px;
	background-position: -451px 0;
}

.testsizes-nfl_arizona-cardinals-med {
	width: 32px;
	height: 32px;
	background-position: -468px 0;
}

.testsizes-nfl_atlanta-falcons-med {
	width: 32px;
	height: 32px;
	background-position: -501px 0;
}

.testsizes-nfl_baltimore-ravens-med {
	width: 32px;
	height: 32px;
	background-position: -534px 0;
}

.testsizes-nfl_dallas-cowboys-med {
	width: 32px;
	height: 32px;
	background-position: -567px 0;
}

.testsizes-nfl_dallas-cowboys copy-med {
	width: 32px;
	height: 32px;
	background-position: -600px 0;
}

.testsizes-oakland-raiders-med {
	width: 16px;
	height: 16px;
	background-position: -633px 0;
}

.testsizes-philadelphia-eagles-med {
	width: 16px;
	height: 12px;
	background-position: -650px 0;
}

.testsizes-pittsburgh-steelers-med {
	width: 9px;
	height: 9px;
	background-position: -667px 0;
}

.testsizes-san-diego-chargers-med {
	width: 24px;
	height: 13px;
	background-position: -677px 0;
}

.testsizes-san-francisco-49ers-med {
	width: 29px;
	height: 17px;
	background-position: -702px 0;
}

.testsizes-seattle-seahawks-med {
	width: 21px;
	height: 10px;
	background-position: -732px 0;
}

.testsizes-st-louis-rams-med {
	width: 18px;
	height: 13px;
	background-position: -754px 0;
}

.testsizes-tampa-bay-buccaneers-med {
	width: 14px;
	height: 13px;
	background-position: -773px 0;
}

.testsizes-tennessee-titans-med {
	width: 18px;
	height: 13px;
	background-position: -788px 0;
}

.testsizes-washington-redskins-med {
	width: 16px;
	height: 16px;
	background-position: -807px 0;
}

.testsizes-arizona-cardinals-med,
.testsizes-atlanta-falcons-med,
.testsizes-baltimore-ravens-med,
.testsizes-buffalo-bills-med,
.testsizes-carolina-panthers-med,
.testsizes-chicago-bears-med,
.testsizes-cincinnati-bengals-med,
.testsizes-cleveland-browns-med,
.testsizes-dallas-cowboys-med,
.testsizes-denver-broncos-med,
.testsizes-detroit-lions-med,
.testsizes-green-bay-packers-med,
.testsizes-houston-texans-med,
.testsizes-indianapolis-colts-med,
.testsizes-kansas-city-chiefs-med,
.testsizes-miami-dolphins-med,
.testsizes-minnesota-vikings-med,
.testsizes-new-england-patriots-med,
.testsizes-new-orleans-saints-med,
.testsizes-new-york-giants-med,
.testsizes-new-york-jets-med,
.testsizes-nfl_arizona-cardinals-med,
.testsizes-nfl_atlanta-falcons-med,
.testsizes-nfl_baltimore-ravens-med,
.testsizes-nfl_dallas-cowboys-med,
.testsizes-nfl_dallas-cowboys copy-med,
.testsizes-oakland-raiders-med,
.testsizes-philadelphia-eagles-med,
.testsizes-pittsburgh-steelers-med,
.testsizes-san-diego-chargers-med,
.testsizes-san-francisco-49ers-med,
.testsizes-seattle-seahawks-med,
.testsizes-st-louis-rams-med,
.testsizes-tampa-bay-buccaneers-med,
.testsizes-tennessee-titans-med,
.testsizes-washington-redskins-med {
	background-image: url(sprites/testsizes-nfl-med-sprite.png);
	background-size: 824px 39px;
}

.testsizes-arizona-cardinals-small {
	width: 11px;
	height: 7px;
	background-position: -0px 0;
}

.testsizes-atlanta-falcons-small {
	width: 7px;
	height: 7px;
	background-position: -12px 0;
}

.testsizes-baltimore-ravens-small {
	width: 13px;
	height: 7px;
	background-position: -19px 0;
}

.testsizes-buffalo-bills-small {
	width: 9px;
	height: 7px;
	background-position: -33px 0;
}

.testsizes-carolina-panthers-small {
	width: 12px;
	height: 7px;
	background-position: -42px 0;
}

.testsizes-chicago-bears-small {
	width: 25px;
	height: 19px;
	background-position: -55px 0;
}

.testsizes-cincinnati-bengals-small {
	width: 8px;
	height: 6px;
	background-position: -80px 0;
}

.testsizes-cleveland-browns-small {
	width: 25px;
	height: 20px;
	background-position: -89px 0;
}

.testsizes-dallas-cowboys-small {
	width: 14px;
	height: 13px;
	background-position: -114px 0;
}

.testsizes-denver-broncos-small {
	width: 11px;
	height: 7px;
	background-position: -128px 0;
}

.testsizes-detroit-lions-small {
	width: 16px;
	height: 12px;
	background-position: -140px 0;
}

.testsizes-green-bay-packers-small {
	width: 10px;
	height: 7px;
	background-position: -156px 0;
}

.testsizes-houston-texans-small {
	width: 7px;
	height: 7px;
	background-position: -166px 0;
}

.testsizes-indianapolis-colts-small {
	width: 6px;
	height: 7px;
	background-position: -173px 0;
}

.testsizes-kansas-city-chiefs-small {
	width: 10px;
	height: 7px;
	background-position: -180px 0;
}

.testsizes-miami-dolphins-small {
	width: 6px;
	height: 7px;
	background-position: -190px 0;
}

.testsizes-minnesota-vikings-small {
	width: 5px;
	height: 7px;
	background-position: -196px 0;
}

.testsizes-new-england-patriots-small {
	width: 8px;
	height: 4px;
	background-position: -202px 0;
}

.testsizes-new-orleans-saints-small {
	width: 7px;
	height: 8px;
	background-position: -210px 0;
}

.testsizes-new-york-giants-small {
	width: 8px;
	height: 7px;
	background-position: -217px 0;
}

.testsizes-new-york-jets-small {
	width: 8px;
	height: 5px;
	background-position: -226px 0;
}

.testsizes-nfl_arizona-cardinals-small {
	width: 16px;
	height: 16px;
	background-position: -234px 0;
}

.testsizes-nfl_atlanta-falcons-small {
	width: 16px;
	height: 16px;
	background-position: -251px 0;
}

.testsizes-nfl_baltimore-ravens-small {
	width: 16px;
	height: 16px;
	background-position: -267px 0;
}

.testsizes-nfl_dallas-cowboys-small {
	width: 16px;
	height: 16px;
	background-position: -284px 0;
}

.testsizes-nfl_dallas-cowboys copy-small {
	width: 16px;
	height: 16px;
	background-position: -300px 0;
}

.testsizes-oakland-raiders-small {
	width: 8px;
	height: 8px;
	background-position: -317px 0;
}

.testsizes-philadelphia-eagles-small {
	width: 8px;
	height: 6px;
	background-position: -325px 0;
}

.testsizes-pittsburgh-steelers-small {
	width: 5px;
	height: 5px;
	background-position: -334px 0;
}

.testsizes-san-diego-chargers-small {
	width: 12px;
	height: 7px;
	background-position: -339px 0;
}

.testsizes-san-francisco-49ers-small {
	width: 15px;
	height: 9px;
	background-position: -351px 0;
}

.testsizes-seattle-seahawks-small {
	width: 11px;
	height: 5px;
	background-position: -366px 0;
}

.testsizes-st-louis-rams-small {
	width: 9px;
	height: 7px;
	background-position: -377px 0;
}

.testsizes-tampa-bay-buccaneers-small {
	width: 7px;
	height: 7px;
	background-position: -387px 0;
}

.testsizes-tennessee-titans-small {
	width: 9px;
	height: 7px;
	background-position: -394px 0;
}

.testsizes-washington-redskins-small {
	width: 8px;
	height: 8px;
	background-position: -404px 0;
}

.testsizes-arizona-cardinals-small,
.testsizes-atlanta-falcons-small,
.testsizes-baltimore-ravens-small,
.testsizes-buffalo-bills-small,
.testsizes-carolina-panthers-small,
.testsizes-chicago-bears-small,
.testsizes-cincinnati-bengals-small,
.testsizes-cleveland-browns-small,
.testsizes-dallas-cowboys-small,
.testsizes-denver-broncos-small,
.testsizes-detroit-lions-small,
.testsizes-green-bay-packers-small,
.testsizes-houston-texans-small,
.testsizes-indianapolis-colts-small,
.testsizes-kansas-city-chiefs-small,
.testsizes-miami-dolphins-small,
.testsizes-minnesota-vikings-small,
.testsizes-new-england-patriots-small,
.testsizes-new-orleans-saints-small,
.testsizes-new-york-giants-small,
.testsizes-new-york-jets-small,
.testsizes-nfl_arizona-cardinals-small,
.testsizes-nfl_atlanta-falcons-small,
.testsizes-nfl_baltimore-ravens-small,
.testsizes-nfl_dallas-cowboys-small,
.testsizes-nfl_dallas-cowboys copy-small,
.testsizes-oakland-raiders-small,
.testsizes-philadelphia-eagles-small,
.testsizes-pittsburgh-steelers-small,
.testsizes-san-diego-chargers-small,
.testsizes-san-francisco-49ers-small,
.testsizes-seattle-seahawks-small,
.testsizes-st-louis-rams-small,
.testsizes-tampa-bay-buccaneers-small,
.testsizes-tennessee-titans-small,
.testsizes-washington-redskins-small {
	background-image: url(sprites/testsizes-nfl-small-sprite.png);
	background-size: 412px 20px;
}

.svg .testsizes-arizona-cardinals-large,
.svg .testsizes-atlanta-falcons-large,
.svg .testsizes-baltimore-ravens-large,
.svg .testsizes-buffalo-bills-large,
.svg .testsizes-carolina-panthers-large,
.svg .testsizes-chicago-bears-large,
.svg .testsizes-cincinnati-bengals-large,
.svg .testsizes-cleveland-browns-large,
.svg .testsizes-dallas-cowboys-large,
.svg .testsizes-denver-broncos-large,
.svg .testsizes-detroit-lions-large,
.svg .testsizes-green-bay-packers-large,
.svg .testsizes-houston-texans-large,
.svg .testsizes-indianapolis-colts-large,
.svg .testsizes-kansas-city-chiefs-large,
.svg .testsizes-miami-dolphins-large,
.svg .testsizes-minnesota-vikings-large,
.svg .testsizes-new-england-patriots-large,
.svg .testsizes-new-orleans-saints-large,
.svg .testsizes-new-york-giants-large,
.svg .testsizes-new-york-jets-large,
.svg .testsizes-nfl_arizona-cardinals-large,
.svg .testsizes-nfl_atlanta-falcons-large,
.svg .testsizes-nfl_baltimore-ravens-large,
.svg .testsizes-nfl_dallas-cowboys-large,
.svg .testsizes-nfl_dallas-cowboys copy-large,
.svg .testsizes-oakland-raiders-large,
.svg .testsizes-philadelphia-eagles-large,
.svg .testsizes-pittsburgh-steelers-large,
.svg .testsizes-san-diego-chargers-large,
.svg .testsizes-san-francisco-49ers-large,
.svg .testsizes-seattle-seahawks-large,
.svg .testsizes-st-louis-rams-large,
.svg .testsizes-tampa-bay-buccaneers-large,
.svg .testsizes-tennessee-titans-large,
.svg .testsizes-washington-redskins-large,
.svg .testsizes-arizona-cardinals-med,
.svg .testsizes-atlanta-falcons-med,
.svg .testsizes-baltimore-ravens-med,
.svg .testsizes-buffalo-bills-med,
.svg .testsizes-carolina-panthers-med,
.svg .testsizes-chicago-bears-med,
.svg .testsizes-cincinnati-bengals-med,
.svg .testsizes-cleveland-browns-med,
.svg .testsizes-dallas-cowboys-med,
.svg .testsizes-denver-broncos-med,
.svg .testsizes-detroit-lions-med,
.svg .testsizes-green-bay-packers-med,
.svg .testsizes-houston-texans-med,
.svg .testsizes-indianapolis-colts-med,
.svg .testsizes-kansas-city-chiefs-med,
.svg .testsizes-miami-dolphins-med,
.svg .testsizes-minnesota-vikings-med,
.svg .testsizes-new-england-patriots-med,
.svg .testsizes-new-orleans-saints-med,
.svg .testsizes-new-york-giants-med,
.svg .testsizes-new-york-jets-med,
.svg .testsizes-nfl_arizona-cardinals-med,
.svg .testsizes-nfl_atlanta-falcons-med,
.svg .testsizes-nfl_baltimore-ravens-med,
.svg .testsizes-nfl_dallas-cowboys-med,
.svg .testsizes-nfl_dallas-cowboys copy-med,
.svg .testsizes-oakland-raiders-med,
.svg .testsizes-philadelphia-eagles-med,
.svg .testsizes-pittsburgh-steelers-med,
.svg .testsizes-san-diego-chargers-med,
.svg .testsizes-san-francisco-49ers-med,
.svg .testsizes-seattle-seahawks-med,
.svg .testsizes-st-louis-rams-med,
.svg .testsizes-tampa-bay-buccaneers-med,
.svg .testsizes-tennessee-titans-med,
.svg .testsizes-washington-redskins-med,
.svg .testsizes-arizona-cardinals-small,
.svg .testsizes-atlanta-falcons-small,
.svg .testsizes-baltimore-ravens-small,
.svg .testsizes-buffalo-bills-small,
.svg .testsizes-carolina-panthers-small,
.svg .testsizes-chicago-bears-small,
.svg .testsizes-cincinnati-bengals-small,
.svg .testsizes-cleveland-browns-small,
.svg .testsizes-dallas-cowboys-small,
.svg .testsizes-denver-broncos-small,
.svg .testsizes-detroit-lions-small,
.svg .testsizes-green-bay-packers-small,
.svg .testsizes-houston-texans-small,
.svg .testsizes-indianapolis-colts-small,
.svg .testsizes-kansas-city-chiefs-small,
.svg .testsizes-miami-dolphins-small,
.svg .testsizes-minnesota-vikings-small,
.svg .testsizes-new-england-patriots-small,
.svg .testsizes-new-orleans-saints-small,
.svg .testsizes-new-york-giants-small,
.svg .testsizes-new-york-jets-small,
.svg .testsizes-nfl_arizona-cardinals-small,
.svg .testsizes-nfl_atlanta-falcons-small,
.svg .testsizes-nfl_baltimore-ravens-small,
.svg .testsizes-nfl_dallas-cowboys-small,
.svg .testsizes-nfl_dallas-cowboys copy-small,
.svg .testsizes-oakland-raiders-small,
.svg .testsizes-philadelphia-eagles-small,
.svg .testsizes-pittsburgh-steelers-small,
.svg .testsizes-san-diego-chargers-small,
.svg .testsizes-san-francisco-49ers-small,
.svg .testsizes-seattle-seahawks-small,
.svg .testsizes-st-louis-rams-small,
.svg .testsizes-tampa-bay-buccaneers-small,
.svg .testsizes-tennessee-titans-small,
.svg .testsizes-washington-redskins-small {
	background-image: url(sprites/testsizes-nfl-sprite.svg);
}
